<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Join room</h5>
        <form action="/room">
          <label for="room" class="form-label">Room name:</label>
          <input type="text" name="room" class="form-control" value="demo">
          <label for="room" class="form-label">User name:</label>
          <input type="text" name="user" class="form-control" value="user1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="mod" name="mod">
            <label class="form-check-label" for="mod">
              Log in as moderator?
            </label>
          </div>
          <input type="submit" value="Sign in" class="btn btn-primary mt-2">
        </form>
      </div>
    </div>
  </div>
</div>